<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{url_for('static', filename='images/iceicle.png')}}">
    <link href="styles.css" rel="stylesheet" type="text/css" />
    <title>LearnNFT</title>
</head>
<body>
    <nav>
        <h1 id="title">LearnNFT</h1>
    </nav>
    <div id="screen">

      <div class="side">
        <div class="money">
            <h2>Account Balance</h2>
            <h1>ETH: 10000.00</h1>
        </div>
        <form id="inputs" action="#" method="post">
            <h2>Share With Others!</h2>
            <div>
                <input name="emailInput" id="emailInput" placeholder="Enter Email..."/>
                <button id="emailButton">Send</button>
            </div>
        </form>
        <h2 class="speech speech-bottom-left">Get some NFTs and learn how to trade!</h2>
        </div>

        <div class="nft-custom">
          <h2>Your NFTs</h2>
          <h2>Turn your very own ipfs image into an NFT!</h2>
          <input type="link" id="link" name="link" placeholder="Enter your NFT's ipfs link">
          <div class="ur-nft">
            <img src="images/Potrait.png" alt="">
            <img src="images/RollerDash.png" alt="">
          </div>
          <button id="emailButton">Upload/List your NFT on DeSo</button>
        </div>
      
      </div>
    
    <h2 id="other">Other NFTs</h2>
    <div class="pictures">
      <img src="images/monkey.jpg">
      <img src="images/monkey.png" alt="">
      <img src="images/monkey1.jpg" alt="">
      <img src="images/monkey2.jpg" alt="">
      <img src="images/monkey3.jpg" alt="">
      <img src="images/monkey4.jpg" alt="">
    </div>
</body>
</html>